/* CSS Document */

body {
	background-color: #e5e7ec;
}


.uk-navbar {
	background: #5484A4;
}

.uk-navbar-nav>li>a {
	color: #FFFFFF;
}

.uk-navbar2 {
	background: #E4E4E4;
	color: #000000;
}

.uk-navbar-nav2>li>a {
	color: #000000;
}

.uk-block {
	background: #FFFFFF;
}


.uk-navbar-brand{
	color: #FFFFFF;
	font-size: 30px;
}

.uk-grid-small {
	flex-wrap: nowrap;
}

.uk-logo {
	color: #FFFFFF;
}

.uk-button-default {
	color: #FFFFFF;
}


.uk-navbar-brand:hover{
	color: #111111;
}




/* MEDIA QUERY'S -> RESPONSIVE DESIGN */

@media (min-width: 640px){
	.uk-countdown-number, .uk-countdown-separator{
		font-size: 3em;
	}
}




