/* CSS Document */

body {
	background-color: #e5e7ec;
}

.uk-navbar-nav>li>a {
	color: #FFFFFF;
}

.uk-navbar1 {
	background: #5484A4;
	padding: 25px 10px;
}

.uk-navbar2 {
	background: #E4E4E4;
	color: #000000;
}

.uk-navbar-nav2>li>a {
	color: #000000;
}

.uk-block {
	background: #FFFFFF;
}


.uk-navbar-brand{
	color: #FFFFFF;
	font-size: 30px;
}

.uk-navbar-brand:hover{
	color: #111111;
}


